card {
    height: 231px;
    perspective: 600px
}

.banner {
    position: relative;
    text-align: center;
    color: white
}

.bannerImage {
    width: 100%;
}

.bannerText {
    position: absolute;
    top: -25%;
    left: 64%
}


.bg {
    /* The image used */
    background-image: url("img/efitbay_japneese.jpg");

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}