card {
    height: 231px;
    perspective: 600px
}

.banner {
    position: relative;
    text-align: center;
    color: white
}

.bannerImage {
    width: 100%;
}

.bannerText {
    position: absolute;
    top: -25%;
    left: 64%
}